---
---

@import "{{ site.theme }}";

nav {
  background: #000;
}

nav div.inner2 {
  position: relative;
  width: 640px;
  padding: 9px 350px;
  background: #000;
  overflow: hidden;
}

nav ul.topnav {
  float: right;
  width:640px;
  list-style-type: none;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

ul.topnav li{
  float: left;
  border: 2px solid #fff;
  border-radius: 14px;
  background: #212121;
}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 7px 10px;
  background-color: #212121;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 200;
  text-shadow: #111 0px 0px 10px;
  border-radius: 14px;
}

ul.topnav li a:hover {
  background-color: #0F79D0;
  color: #fff;
  font-weight: 700px;
}

.active {
  background-color: #0F79D0;
}

.active:not {
  background: #212121;
}



/*********************
@mixins
********************/

@mixin position($sticky) {
  -webkit-position: $sticky;
  -moz-position: $sticky;
  -ms-position: $sticky;
   -o-position: $sticky;
      position: $sticky;
}

$sticky: sticky;

nav ul.topnav {
  @include position($sticky);
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens:auto;
  -webkit-hypens: auto;
  hyphens:auto;
} /**** @mixin code taken from Coyier, C. (2018, July 25). CSS-Tricks ****/

body a {
  @include word-wrap;
}


/****************************
Added code for smaller devices (codes after 1st block from original css)
******************************/

/*********/
@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  /*************
  added codes
  *************/
  
  div.inner2 {
    min-width: 320px;
    max-width: 480px;
    padding: 0;
  }
  
  ul.topnav, ul.topnav li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  ul.topnav li a {font-size: 28px;}
  
  /******* end of own additions***********/

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    font-size: 11px;
  }

}

@media screen and (max-width: 320px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }

  /*********************
  added codes
  ***************************/
  
  div.inner2 {
    min-width: 320px;
    max-width: 480px;
    padding:0;
  }
  
  ul.topnav, ul.topnav li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  ul.topnav li a {font-size: 25px;}
  
  /******** edn of edits ************/

  #project_title {
  font-size: 28px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 240px;
    max-width: 320px;
    font-size: 11px;
  }

}
