---
---

@import "{{ site.theme }}";

nav {
  background: #212121;
}

nav ul.inner {
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
}

nav li{
  float: left;
  border-right: 2px solid #fff;
  border-radius: 14px;
}

nav li.table {
  float: right;
  margin: 0;
  padding: 0;
  border-right: 0;
  border-radius: 0;
  background: #ddd
}

nav div.topnav{
  display: block;
  float: right;
  margin: -100;
  padding: 0;
  border-right: 0;
  border-radius: 0;
}

nav li a {
  display: block;
  text-align: center;
  padding: 0px 16px;
  background: #212121;
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  text-shadow: #111 0px 0px 10px;
  border-radius: 14px;
}

nav li a:hover {
  background-color: #0F79D0;
  color: #fff;
  font-weight: 700px;
}

.active {
  background-color: #0F79D0;
}

.active:not {
  background: #212121;
}



/*********************
@mixins
********************/

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens:auto;
  -webkit-hypens: auto;
  hyphens:auto;
} /**** @mixin code taken from Coyier, C. (2018, July 25). CSS-Tricks ****/

/**** body #main_content.inner a...?****/
a {
  @include word-wrap;
}

/****************************
Added code for smaller devices (codes after 1st block from original css)
******************************/

@media screen and (max-width: 600px) {
  ul.topnav li.inner, 
  ul.topnav li {float: none;}
}

  nav li a {font-size: 18px;}

/*********/
@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  /*************
  added codes
  *************/
  
  ul.topnav li.inner, 
  ul.topnav li {float: none;}

  nav li a {font-size: 16px;}
  
  /******* end of own additions***********/

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    font-size: 11px;
  }

}

@media screen and (max-width: 320px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }

  /*********************
  added codes
  ***************************/
  
  ul.topnav li.inner, 
  ul.topnav li {float: none;}

  nav li a {font-size: 14px;}
  
  /******** edn of edits ************/

  #project_title {
  font-size: 28px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 240px;
    max-width: 320px;
    font-size: 11px;
  }

}
